@import "tailwindcss";

/* Variable Font */
@font-face {
    font-family: 'InterVariable';
    src: url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Static Fonts */
@font-face {
    font-family: 'InterStatic';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'InterStatic';
    src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'InterStatic';
    src: url('./fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
html {
    font-size: 14px;
}
.city {
    color:hsl(75, 94%, 57%);
}
.social>a:hover{
    background-color: hsl(75, 94%, 57%);
}